@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "fonts.css";

body {
  @apply font-comf text-black-1;
}

.otgs-development-site-front-end {
  @apply hidden;
}

.nav-primary {
  .menu-item a {
    @apply bg-white px-10 py-3 rounded-full transition-all;
  }

  .current-menu-item a,
  .menu-item a:hover {
    @apply bg-yellow-1 text-white;
  }
}

.wpml-ls-legacy-dropdown {
  width: auto;
  @apply font-ga text-2xl;

  .js-wpml-ls-item-toggle {
    border: none;

    &:hover {
      @apply bg-yellow-1;
    }
  }
}

.wpml-ls-legacy-dropdown a,
.wpml-ls-sub-menu {
  border: none !important;
}

.wpml-ls-legacy-dropdown .wpml-ls-current-language:hover>a,
.wpml-ls-legacy-dropdown a:focus,
.wpml-ls-legacy-dropdown a:hover {
  background: #fff;
}
